/* src/App.css */

body {
  margin: 0;
  padding: 0;
  background-color: #1c1c1c; /* Dark Navy Background */
  color: white; /* Default text color to white */
  font-family: Arial, sans-serif; /* Add a default font for consistency */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #252525;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  width: 100%;
  height: 100vh;
  max-width: 700px;
  margin: 0 auto;
  background-color: #252525; 
  color: white; 
}



.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

h1 {
  text-align: center;
  color: white;
}

.word-cloud-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.word-cloud {
  width: 700px;
  height: 700px;
  border-radius: 50%;
  overflow: visible;
  background: #252525;
  position: relative; 
}

.text-area {
  width: 80%; 
  margin-bottom: 10px;
  background-color: #252525; 
  color: white; 
  border: 1px solid #001f3f; 
  padding: 10px;
}
.text-area::placeholder {
  color: #001f3f; 
}


button {
  cursor: pointer;
  background-color: #001f3f; 
  color: white; 
  border: 1px solid white;
  padding: 10px 20px;
  border-radius: 25px;
  margin-top: 0px;
}

button:hover {
  background-color: white;
  color: #001f3f; 
}